body {
  font-family: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #27272b;
  color: #666;
  font-size: 16px;
  line-height: 1.5em;
}

h1 {
  color: #111;
  margin: 0 0 12px 0;
  font-size: 24px;
  line-height: 1.5em;
}

p {
  margin: 0 0 10x 0;
}

a {
  color: #888;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

a:hover {
  border-bottom-color: #888;
}

.body--ready {
  background: -webkit-linear-gradient(top, #d6d8e6 0%, #27272b 96%);
  background: -moz-linear-gradient(top, #d6d8e6 0%, #27272b 96%);
  background: -o-linear-gradient(top, #d6d8e6 0%, #27272b 96%);
  background: -ms-linear-gradient(top, #d6d8e6 0%, #27272b 96%);
  background: linear-gradient(top, #d6d8e6 0%, #27272b 96%);
  overflow: hidden;
}

.ui {
  position: absolute;
  left: 50%;
  bottom: 5%;
  width: 300px;
  margin-left: -150px;
}

.ui-input {
  width: 100%;
  height: 50px;
  background: none;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border: none;
  border-bottom: 1px solid white;
}

.ui-input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

.ui-return {
  position: absolute;
  top: 20px;
  right: 25px;
  padding: 3px 2px 0 2px;
  font-size: 10px;
  line-height: 15px;
  color: #fff;
}

.ui-close {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 2px 4px 1px;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.ui--enter .ui-return {
  display: block;
}

.ui--wide {
  width: 76%;
  margin-left: 12%;
  left: 0;
}

.ui--wide .ui-return {
  right: -20px;
}

.help {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  border: 1px solid white;
  color: #fff;
  opacity: 0.6;

  -webkit-transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.help:hover {
  opacity: 1;
}

.touch .ui-input {
  display: none;
}
